@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #0f0e17;
    --background-2: #000000;
	--text-accent-1: #fffffe,
	--text-accent-2: #a7a9be,
	--text-accent-3: #fffffe,
	--accent-1: #ff8906,
	--accent-2: #f25f4c,
	--accent-3: #e53170,
	--abcd: #414
}
@font-face {
	font-family: 'MyFont';
	src: local('MyFont'), url(./assets/fonts/Proxima\ Nova\ Font.otf) format('otf');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	min-width: 100%;
	background-color: var(--background);
}

.img1{
    margin:30px;
    height:100px;
    width:100px;
    object-fit:contain;
    animation-name: spinRotation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.img2{
    height:100px;
    width:100px;
    object-fit:contain;
    animation-name: spinRotation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.center{
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}

@keyframes spinRotation
{
    0%{transform: rotateY(0deg);}
    33%{transform: rotateY(120deg);}
    66%{transform: rotateY(240deg);}
    100%{transform: rotateY(360deg);}
}

body::-webkit-scrollbar-track {
	background-color: var(--background-1);
}

body::-webkit-scrollbar {
	width: 9px;
	background-color:#000000;
}

body::-webkit-scrollbar-thumb {
	background-color: #FFF;
}